
@{
    ViewData["Title"] = "Index";
}

<h1>Chat</h1>

<div>
    <input type="text" id="txt"/>
    <input type="button" value="Send" onclick="Send()"/> <br />
    <input type="text" id="grpTxt"/>
    <input type="button" value="Goin Group" onclick="Join()"/> <br />
    <input type="button" value="Send To Group" onclick="SendToGroup()" />

    <ul id="msgList">

    </ul>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <script>

        let name = prompt("Enter Your Name");

        // 1. define connection url so by defualt create proxy
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

        // 2. start connection
        connection.start();

        // 3. callback function
        connection.on("newmessage", function (user, msg) {
            $("#msgList").append("<li>"+user +" : "+ msg+"</li>")
        });

        connection.on("newmember", function (user,groupName) {
            $("#msgList").append("<li><i>" + user + " Successfuly join to group : " + groupName + "</i></li>")
        });

        connection.on("newMessageGroup", function (user, groupName, msg) {
            $("#msgList").append("<li>" + user +" From Group " + groupName + " : " + msg + "</li>")
        });


        // 4. call service method
        function Send() {
            connection.invoke("SendMsg", name, $("#txt").val());
        }

        function Join() {
            connection.invoke("joinGroup", $("#grpTxt").val(), name);
        }

        function SendToGroup() {
            connection.invoke("SendToGroup", $("#grpTxt").val(), name, $("#txt").val());
        }
    </script>
}

